.section {
    display: none;
}
.active {
    display: block;
}

h3{
    background-color: rgb(125, 228, 125);
    text-align: center;
    font-size: 75px;
}

img{
    height: 10cm;
}

.card{
    height: 15cm;
}